a {
   color: $clr-primary;
   transition: all $transition-time $transition-easing;
   cursor: pointer;

   &:hover,
   &:focus {
      color: $clr-primary-ltr;
   }
   &:active {
      color: $clr-primary;
   }
}
