/*--------------------*\
 * FEATURES
\*--------------------*/
$use-grid: false;
$responsive: false;
$global-border-box: false;
$use-ratio-objects: false;
$use-symbols: false;
$use-custom-checkbox: false;
$use-checkbox-slider: false;
$use-custom-radio: false;
$use-custom-textarea-resize: false;
$use-buttons: false;
$desktop-first: false;

/*--------------------*\
 * Font Setup
\*--------------------*/
/* $font names */
$font-path: '../fnt/';
$font-base: 'Roboto';
$font-header: 'Rokkit';

/* $font stacks used in css */
$font-base-stack: $font-base, slab-serif;
$font-header-stack: $font-header, slab-serif;

/* $font config used by core */
/*------------------------------------------------*\
#TIP - How to get more font configs
- duplicate the sass map
- then simply change the values
\*------------------------------------------------*/
$font-setup: ();
//    (
//       name: $font-base,
//       path: $font-path + 'Roboto/',
//       filename: 'Roboto-Regular-webfont',
//       weight: normal,
//       style: normal
//    ),
//    (
//       name: $font-header,
//       path: $font-path + 'Rokkitt/',
//       filename: 'rokkit-regular-webfont',
//       weight: normal,
//       style: normal
//    )

$fs-base: 16px;
$line-height: 18.4px;
// alternatively set
// $base-line-height: 1.15;
$letter-spacing: 28px;
// alternatively set
// $base-letter-spacing: .028em;

// $base-spacing: 1.5;
// $grid-spacing: 1.5;

$fs-largest: 60px;
$fs-larger: 50px;
$fs-large: 40px;
$fs-h1: 30px;
$fs-h2: 25px;
$fs-h3: 20px;
$fs-h4: 18px;
$fs-h5: 16px;
$fs-h6: 14px;
$fs-small: 12px;
$fs-smaller: 10px;
$fs-smallest: 8px;

/*--------------------*\
 * GRID
\*--------------------*/
$grid-gut: 1.5;

