/*--------------------*\
 * FEATURES
\*--------------------*/
$grid: true;
$responsive: true;
$global-border-box: true;
$desktop-first: false;

/*--------------------*\
 * Font Setup
\*--------------------*/
/* $font names */
$font-path: '../fonts/'
$font-base: 'Robotto';
$font-header: 'Rokkit';

/* $font stacks used in css */
$font-base-stack: $font-base, slab-serif;
$font-header-stack: $font-header, slab-serif;

/* $font config used by core */
/*------------------------------------------------*\
#TIP - How to get more font configs
- duplicate the sass map
- then simply change the values
\*------------------------------------------------*/
$font-setup: (
   (
      name: $font-base,
      path: $font-path,
      filename: 'robotto-regular-webfont',
      weight: normal,
      style: normal
   ),
   (
      name: $font-header,
      path: $font-path,
      filename: 'rokkit-regular-webfont',
      weight: normal,
      style: normal
   )
);



$fs-base: 16px;

/*--------------------*\
 * GRID
\*--------------------*/
$grid-gut: 1.5;

/*--------------------*\
 * COLOR VARS
\*--------------------*/
$clr-base: #404040;
$clr-base-lt: #979797;
$clr-base-ltr: #a8a8a8;
$clr-base-ltst: #EAEAEA;
$clr-base-dk: darken($clr-base, 5%);

$clr-primary: #EE4596;
$clr-primary-lt: lighten($clr-primary, 5%);
$clr-primary-ltr: lighten($clr-primary, 10%);
$clr-primary-ltst: lighten($clr-primary, 15%);
$clr-primary-dk: darken($clr-primary, 5%);

$clr-secondary: #56CFAD;
$clr-secondary-lt: lighten($clr-secondary, 5%);
$clr-secondary-ltr: lighten($clr-secondary, 10%);
$clr-secondary-ltst: lighten($clr-secondary, 15%);
$clr-secondary-dk: darken($clr-secondary, 5%);

$clr-tertiary: #f7931e;
$clr-tertiary-lt: lighten($clr-tertiary, 5%);
$clr-tertiary-ltr: lighten($clr-tertiary, 10%);
$clr-tertiary-ltst: lighten($clr-tertiary, 15%);
$clr-tertiary-dk: darken($clr-tertiary, 5%);

$clr-quintinary: #424f64;
