@mixin media ($size) {
   @if ($size == 'palm')
   {
     $size: $palm-start;
   }
   @else if ($size == 'lap')
   {
      $size: $lap-start;
   }
   @else if ($size == 'desk')
   {
      $size: $desk-start;
   }

   @media screen and (#{$media-direction}-width:$size) {
      @content;
   }
}
