/**
 * 100% is the browser fs, 16 is standard
 * $fs-base is determined by the design
 * #TIP users can set browser font size an you should therefore use rem
 */
html {
   font-family: $font-base-stack;
   font-size: $fs-base / 16px * 1em;
   line-height: $base-line-height;
}

body {
   font-size: 100%;
}

* {
   @include border-box();
}

