/* USED by grid generator to remember percentages */
$remember-grid-size: '' !global;

/**
* Percentage Widths
* Mainly used as part of the grid
*/
@mixin make-widths ($size, $denominator) {
  /**
    * #{$denominator} fractions widths
    */
  @if ($size != '') {
      $size: $size + '-';
  }
  @for $i from 1 through $denominator {
    @if (not index($remember-grid-size, $size+'-'+before-des( $i / $denominator * 100)+"-"+after-des( $i / $denominator * 100)))
    {
      $remember-grid-size: join($remember-grid-size, ($size+'-'+before-des( $i / $denominator * 100)+"-"+after-des( $i / $denominator * 100)) ) !global;
      %#{$size}w--#{before-des( $i / $denominator * 100)}-#{after-des( $i / $denominator * 100)} { width: $i/$denominator*100%;}
    }
    .#{$size}w--#{$i}\/#{$denominator} { @extend %#{$size}w--#{before-des( $i / $denominator * 100)}-#{after-des( $i / $denominator * 100)};}
  }
}

@mixin width-generator ()
{
   /* There are applications for this kind of behaviour */
   %w--auto { width: auto;}
   .w--auto { @extend %w--auto;}

   @include make-widths('', 1);
   @include make-widths('', 2);
   @include make-widths('', 3);
   @include make-widths('', 4);
   @include make-widths('', 5);
   @include make-widths('', 12);

   @if ($responsive)
   {
      @include media('palm') {
         @include make-widths('palm', 1);
         @include make-widths('palm', 2);
         @include make-widths('palm', 3);
         @include make-widths('palm', 4);
      }

      @include media('lap') {
         @include make-widths('lap', 1);
         @include make-widths('lap', 2);
         @include make-widths('lap', 3);
         @include make-widths('lap', 4);
         @include make-widths('lap', 5);
      }
   }
}


@include width-generator();
