/**
 * The grid wrapper
 */
%grid {
   display: block;
   width: 100%;
   width: calc(100% + #{$grid-gut} * 1rem);
   margin: 0;
   @include px-and-rem(margin-left, -$grid-gut);
   @include border-box();

   font-size: 0px;
   & > %grid__item { font-size: 1rem}
}

%grid--middle {
   @extend %grid;
   vertical-align: middle;
}

%grid--bottom {
   @extend %grid;
   vertical-align: middle;
}

%grid--reverse {
   @extend %grid;
   direction: rtl;
}

