/**
 * The grid wrapper
 */
%grid {
   font-size: 0px;
   display: block;
   width: 100%;
   width: calc(100% + #{$grid-gut} * 1rem);
   margin: 0;
   @include px-and-rem(margin-left, -$grid-gut);

   & > %grid__item { font-size: 1rem}
}
