%menu-toggle {
   display: block;
   @include px-and-rem(width, 3);
   font-size: 0px;
   color: transparent;

   &:before {
      @extend %fs--h5;
      color: $clr-base;
      text-indent: 0px;
      display: block;
      content: "X";
      vertical-align: middle;
   }
}

%menu-container {
   display: block;
}
%menu {
   position: relative;
   display: block;
   margin: 0;
   overflow: visible;
   z-index: 5;
}
%menu__item {
   position: relative;
   display: inline-block;
   white-space: nowrap;
   overflow: visible;

   & > a {
      overflow: hidden;
      display: block;
      @include px-and-rem(padding, .5 1.5);
      text-decoration: none;

      &:hover,
      &:focus {
         & + %sub-menu > %menu__item > a {
            max-height: 8em;
            @include px-and-rem(padding, .5 1.5);
         }
      }
      &:active {}
   }
}
   %sub-menu {
      overflow: visible;
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      @extend %bgc--secondary-lt;

      &:hover,
      &:focus {
         & > %menu__item > a {
            max-height: 8em;
            @include px-and-rem(padding, .5 1.5);
         }
      }

      & %menu__item {
         display: block;
         & > a {
            @include collapse-vertical();
         }
      }

      & %sub-menu {
         left: 100%;
         top: 0;
      }
   }

.menu__item { @extend %menu__item;}
.menu__sub { @extend %sub-menu;}

@import 'primary';
