$backgrounds: (
   base: ( background-color: $clr-base),
   base-lt: ( background-color: $clr-base-lt),
   base-ltr: ( background-color: $clr-base-ltr),
   base-ltst: ( background-color: $clr-base-ltst),
   base-dk: ( background-color: $clr-base-dk),
   primary: ( background-color: $clr-primary),
   primary-lt: ( background-color: $clr-primary-lt),
   primary-ltr: ( background-color: $clr-primary-ltr),
   primary-ltst: ( background-color: $clr-primary-ltst),
   primary-dk: ( background-color: $clr-primary-dk),
   secondary: ( background-color: $clr-secondary),
   secondary-lt: ( background-color: $clr-secondary-lt),
   secondary-ltr: ( background-color: $clr-secondary-ltr),
   secondary-ltst: ( background-color: $clr-secondary-ltst),
   secondary-dk: ( background-color: $clr-secondary-dk),
   tertiary: ( background-color: $clr-tertiary),
   tertiary-lt: ( background-color: $clr-tertiary-lt),
   tertiary-ltr: ( background-color: $clr-tertiary-ltr),
   tertiary-ltst: ( background-color: $clr-tertiary-ltst),
   tertiary-dk: ( background-color: $clr-tertiary-dk)
);

@include placeholder-generator('bgc', $backgrounds);
