%menu-toggle {
   display: block;
   @include px-and-rem(width, 3);
   font-size: 0px;
   color: transparent;

   &:before {
      @extend %fs--h5;
      text-indent: 0px;
      display: block;
      content: "X";
      vertical-align: middle;
   }
}

%menu-container {
   display: block;
   position: relative;
}
%menu {
   position: relative;
   display: inline-block;
   margin: 0;
   overflow: visible;
   z-index: 5;
}
%menu.lhs {
  @extend %center-logo;
}
%menu.rhs {
  @extend %center-logo;
}

%menu__item {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  display: block;

   & > a {
      overflow: hidden;
      display: block;
      @include px-and-rem(padding, .5 1.5);
      text-decoration: none;

      &:hover,
      &:focus {
         & + %sub-menu > %menu__item > a {
            max-height: 8em;
            @include px-and-rem(padding, .5 1.5);
         }
      }
      &:active {}
   }
}
   %sub-menu {
      overflow: visible;
      position: absolute;
      display: block;
      top: 100%;
      left: 0;

      &:hover,
      &:focus {
         & > %menu__item > a {
            max-height: 8em;
            @include px-and-rem(padding, .5 1.5);
         }
      }

      & %menu__item {
         display: block;
         & > a {
            @include collapse-vertical();
         }
      }

      & %sub-menu {
         left: 100%;
         top: 0;
      }
   }

.menu__item { @extend %menu__item;}
.menu__sub { @extend %sub-menu;}

.menu-container {
   @extend %menu-container;
}

   .menu {
      @extend %menu;

      & .menu__item {
         & > a {}
         &.menu__item--current {}
      }
      & .menu__sub {
         & .menu__item {
            &.menu__item--current {}
         }
      }
   }
